<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>buscar-tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="button-container">
    <ion-button 
      class="custom-button" 
      [ngClass]="{'selected': selectedButton === 'programado'}"
      (click)="selectButton('programado')">
      Programado
    </ion-button>
    <ion-button 
      class="custom-button" 
      [ngClass]="{'selected': selectedButton === 'sinFecha'}"
      (click)="selectButton('sinFecha')">
      Sin Fecha
    </ion-button>
    <ion-button 
      class="custom-button" 
      [ngClass]="{'selected': selectedButton === 'completado'}"
      (click)="selectButton('completado')">
      Completado
    </ion-button>
  </div>

  <div> <ion-searchbar placeholder="Buscar tarea"></ion-searchbar> </div>

  <div class="listado-tareas">
    
  </div>

</ion-content>