<!-- Imagen  -->
<ion-content [fullscreen]="true">
  <div class="img"><img src="assets/GooList-.png" alt=""/></div>
  <ion-header collapse="condense"> </ion-header>

  <div class="texto">
    <h1>¡Bienvenido a GooList!</h1>
    <p>
      Tu nueva forma de organizar tus tareas diarias, acompañado por el pequeño
      limo Gooey.
    </p>

    <p>
      GooList está aquí para hacer que la gestión de tu tiempo sea tan sencilla
      y agradable como presionar un dedo.
    </p>

    <p>
      ¡Empieza a planificar y deja que Goo te guíe hacia un día más productivo y
      organizado!
    </p>
  </div>
  <div>
    <ion-button expand="block" size="large" (click)= "onContinuar()" >Continuar</ion-button>
  </div>

</ion-content>