<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>anadir-tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="button-container">
    <ion-button 
      class="custom-button" 
      [ngClass]="{'selected': selectedButton === 'programado'}"
      (click)="selectButton('programado')">
      Sin Fecha
    </ion-button>
    <ion-button 
      class="custom-button" 
      [ngClass]="{'selected': selectedButton === 'completado'}"
      (click)="selectButton('completado')">
      Programado
    </ion-button>
  </div>

  <div class="agregar-tarea"> Agregar nueva tarea </div>

  <ion-list>
    <ion-item *ngFor="let date of dateList">
      <ion-label>
        <h2>{{ date.dayName }}, {{ date.day }}</h2>
        <p>{{ date.monthYear }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
