<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="buscar-tareas">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>
      
      <ion-tab-button tab="anadir-tareas">
        <ion-fab-button ><ion-icon name="add-outline"></ion-icon> </ion-fab-button>
      </ion-tab-button>
  
      <ion-tab-button tab="editar-etiquetas">
        <ion-icon name="pricetags"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="perfil">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <!--<div class="center"><ion-icon size="large" name="add-outline"></ion-icon></div> -->  