$primary-color:#9DB2CE;
$secondary-color:#613EEA;

ion-tab-button{
    --color:#9DB2CE;
    --color-selected:#613EEA;
}

ion-fab-button{
    --color-focused:#613EEA;
    --border-color:#9DB2CE;
}

.center{
    border: solid 1px;
    border-radius: 60%;
    border-color: #9DB2CE;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}