h1 {
    font-size: 24px;
    color: #e90000;
    margin-bottom: 20px;
    text-align: center;
  }
  .no-label-button {
    --color: #8c8cff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .date-button, .time-button {
    --background: #f4f5f8;
    border-radius: 8px;
    margin-top: 10px;
  }
  ion-icon {
    color: #8c8cff;
  }

  ion-modal {
    &.bottom-end {
      align-items: flex-end;
      --height: auto;
      .ion-page {
        position: relative;
        display: block;
        contain: content;
      }
    }
  }

  ion-popover {
    &.width-80 {
      --width: 80%;
    }
  }