<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="/anadir-tareas"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="Tarea" placeholder="Ingrese la tarea"></ion-input>
  </ion-item>
  <ion-button expand="block" fill="clear" class="no-label-button">
    Sin Etiqueta
  </ion-button>
  <ion-item button (click)="abrirDate()" class="date-button">
    <ion-icon name="calendar-outline" slot="start"></ion-icon>
    <ion-label>{{ selectedDate || 'Fecha' }}</ion-label>
  </ion-item>
  <ion-item button (click)="abrirAlarm()" class="time-button">
    <ion-icon name="alarm-outline" slot="start"></ion-icon>
    <ion-label>{{ selectedTime || 'Sin recordatorio' }}</ion-label>
  </ion-item>

  <h1>Guardar</h1>

</ion-content>