<ion-header>
  <ion-toolbar>
    <ion-title>{{ date }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="progress-container">
    <div class="progress-text">{{ progress }} / {{ total }}</div>
  </div>
  <div id="limo"><img src="assets/slime (1).gif" alt="Limo-Saltarín"></div>
  <div class="green-background"></div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" style="color: blueviolet;" (click)="onTabClick('home')">
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="search" (click)="onTabClick('search')">
    <ion-icon name="search"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="add" class="add-button" (click)="onTabClick('add')">
    <ion-icon name="add"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="tags" (click)="onTabClick('tags')">
    <ion-icon name="pricetag"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="profile" (click)="onTabClick('profile')">
    <ion-icon name="person"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button>
      <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


